[package]
name = "c2-logs"
version = "0.2.2"
edition = "2021"
authors = ["Nerixyz"]
description = "Capture, filter and analyze logs from Chatterino without restarting the application."
license = "MIT OR Apache-2.0"
repository = "https://github.com/Nerixyz/c2-logs"
keywords = ["debugging", "cli"]
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1.0.100"
bytemuck = { version = "1.24.0", features = ["derive"] }
clap = { version = "4.5.52", features = ["derive"] }
colored = "3.0.0"
ctrlc = "3.5.1"
widestring = "1.2.1"
windows = { version = "0.62.2", features = [
    "Win32_System_Com",
    "Win32_UI_Accessibility",
    "Win32_Foundation",
    "Win32_UI_WindowsAndMessaging",
    "Win32_System_ProcessStatus",
    "Win32_System_Threading",
    "Win32_System_Console",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_WindowsProgramming",
    "Win32_System_LibraryLoader",
    "Win32_System_Memory",
    "Win32_Security",
] }

[profile.release]
opt-level = 3
lto = true

# generated by 'cargo dist init'
[profile.dist]
inherits = "release"
debug = true
split-debuginfo = "packed"
